<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4vypPNAr3hsMPam_qbW81a7ECII81MGM</string>
	<key>GCM_SENDER_ID</key>
	<string>252719998470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driverTaxiBookingApp</string>
	<key>PROJECT_ID</key>
	<string>taxi-booking-acb4b</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-booking-acb4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252719998470:ios:3a3bf55a14a0390a504587</string>
	<key>DATABASE_URL</key>
	<string>https://taxi-booking-acb4b-default-rtdb.firebaseio.com</string>
</dict>
</plist>